
.form-container {
  padding-left: 20px;
}

.toggle-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #8cabab;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #6b8f8f;
}
.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Κυκλική εικόνα */
  object-fit: cover;
  border: 2px solid #8cabab;
  margin-bottom: 10px;
   margin-left: 30%; /* Μετακινεί την εικόνα λίγο δεξιά */
}