.searchbar{
    display: flex;
    align-items: center;
}

.search{
    /* width: 445px;
    float: right; */
    /* margin-top: -63px; */
    white-space: nowrap;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #8cabab;
    /* margin-top: 13px; */
    color: #fff;
    border-right: none;
    font-size: 17px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.btn{
    width: 100px;
    height: 40px;
    background: #8cabab;
    border: 2px solid #8cabab;
    /* margin-top: 13px; */
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.srch::placeholder {
    color: #ffffff; /* Αλλάζει το χρώμα του placeholder */
    font-style: italic; /* Προαιρετικά, μπορείς να προσθέσεις στυλ */
}

/* Media Queries */

/* Για tablet (πλάτος οθόνης έως 768px) */
@media (max-width: 768px) {
    /* Removed empty ruleset for .search */

    .srch {
        width: 60%; /* Μείωση πλάτους */
        font-size: 15px; /* Μείωση μεγέθους γραμματοσειράς */
    }

    .btn {
        width: 80px; /* Μείωση πλάτους κουμπιού */
        font-size: 14px; /* Μείωση μεγέθους γραμματοσειράς */
    }

    .navbar {
        display: flex;
        gap:    1rem;
        flex-direction: column;
        align-items: center;
    }
}

/* Για κινητά (πλάτος οθόνης έως 480px) */
@media (max-width: 480px) {
    .search {
        width: 90%; /* Ακόμα μικρότερο πλάτος */
        margin-top: -20px; /* Προσαρμογή θέσης */
    }

    .srch {
        width: 70%; /* Ακόμα μικρότερο πλάτος */
        font-size: 14px; /* Ακόμα μικρότερο μέγεθος γραμματοσειράς */
    }

    .btn {
        width: 70px; /* Ακόμα μικρότερο πλάτος κουμπιού */
        font-size: 12px; /* Ακόμα μικρότερο μέγεθος γραμματοσειράς */
    }
}

